In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
from collections import Counter
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import RidgeClassifier
from sklearn.metrics import f1_score

In [ ]:
train_df = pd.read_csv(r'C:\Users\Rookie\Desktop\nlp\train_set.csv',sep='\t')
x_train = train_df['text']
y_train = train_df['label']


vectorizer = TfidfVectorizer(ngram_range=(1,3),max_features=3000)

x_train = vectorizer.fit_transform(x_train)  # 转换成tfidf
x_train[:50]

In [7]:
text_df = pd.read_csv(r'C:\Users\Rookie\Desktop\nlp\test_a.csv', sep='\t')
text_df

                                                    text
0      5399 3117 1070 4321 4568 2621 5466 3772 4516 2...
1      2491 4109 1757 7539 648 3695 3038 4490 23 7019...
2      2673 5076 6835 2835 5948 5677 3247 4124 2465 5...
3      4562 4893 2210 4761 3659 1324 2595 5949 4583 2...
4      4269 7134 2614 1724 4464 1324 3370 3370 2106 2...
...                                                  ...
49995  3725 4498 2282 1647 6293 4245 4498 3615 1141 2...
49996  4811 465 3800 1394 3038 2376 2327 5165 3070 57...
49997  5338 1952 3117 4109 299 6656 6654 3792 6831 21...
49998  893 3469 5775 584 2490 4223 6569 6663 2124 168...
49999  2400 4409 4412 2210 5122 4464 7186 2465 1327 9...

[50000 rows x 1 columns]

In [9]:
train_df = pd.read_csv(r'C:\Users\Rookie\Desktop\nlp\train_set.csv',sep='\t')
x_train = train_df['text']
y_train = train_df['label']


vectorizer = TfidfVectorizer(ngram_range=(1,3),max_features=3000)

x_train = vectorizer.fit_transform(x_train)  # 转换成tfidf
# print(x_train)

clf = RidgeClassifier()
clf.fit(x_train[:10000],y_train.values[:10000])

y_pred = clf.predict(x_train[10000:])
print(f1_score(y_train.values[10000:],y_pred=y_pred, average='macro'))

0.8745508835598