In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import sys
import warnings
warnings.filterwarnings("ignore")

In [2]:
train = pd.read_csv(r'G:\First_NLP\jigsaw-unintended-bias-in-toxicity-classification\train.csv',sep = None)

train['target'].value_counts()

0.000000    1264764
0.166667     138501
0.200000     107492
0.300000      59098
0.400000      50013
             ...
0.813022          1
0.967863          1
0.897840          1
0.945655          1
0.872187          1
Name: target, Length: 2913, dtype: int64

In [33]:
train['target'].values > 0.5

array([False, False, False, ..., False,  True, False])

In [29]:
train

,id,target,comment_text,severe_toxicity,obscene,identity_attack,insult,threat,asian,atheist,...,article_id,rating,funny,wow,sad,likes,disagree,sexual_explicit,identity_annotator_count,toxicity_annotator_count
0,59848,0.000000,"This is so cool. It's like, 'would you want yo...",0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
1,59849,0.000000,Thank you!! This would make my life a lot less...,0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
2,59852,0.000000,This is such an urgent design problem; kudos t...,0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
3,59855,0.000000,Is this something I'll be able to install on m...,0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
4,59856,0.893617,haha you guys are a bunch of losers.,0.021277,0.000000,0.021277,0.872340,0.0,0.0,0.0,...,2006,rejected,0,0,0,1,0,0.0,4,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1804869,6333967,0.000000,"Maybe the tax on ""things"" would be collected w...",0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN,...,399385,approved,0,0,0,0,0,0.0,0,4
1804870,6333969,0.000000,What do you call people who STILL think the di...,0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN,...,399528,approved,0,0,0,0,0,0.0,0,4
1804871,6333982,0.000000,"thank you ,,,right or wrong,,, i am following ...",0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN,...,399457,approved,0,0,0,0,0,0.0,0,4
1804872,6334009,0.621212,Anyone who is quoted as having the following e...,0.030303,0.030303,0.045455,0.621212,0.0,NaN,NaN,...,399519,approved,0,0,0,0,0,0.0,0,66
1804873,6334010,0.000000,Students defined as EBD are legally just as di...,0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN,...,399318,approved,0,0,0,0,0,0.0,0,4

In [14]:
train.shape

(1804874, 45)

In [17]:
test = pd.read_csv(r'G:\First_NLP\jigsaw-unintended-bias-in-toxicity-classification\test.csv',sep = None)
test

            id                                       comment_text
0      7097320  [ Integrity means that you pay your debts.]\n\...
1      7097321  This is malfeasance by the Administrator and t...
2      7097322  @Rmiller101 - Spoken like a true elitist. But ...
3      7097323  Paul: Thank you for your kind words.  I do, in...
4      7097324  Sorry you missed high school. Eisenhower sent ...
...        ...                                                ...
97315  7194635  He should lose his job for promoting mis-infor...
97316  7194636  "Thinning project is meant to lower fire dange...
97317  7194637  I hope you millennials are happy that you put ...
97318  7194638  I'm thinking Kellyanne Conway (a.k.a. The Trum...
97319  7194639  I still can't figure why a pizza in AK cost mo...

[97320 rows x 2 columns]

In [11]:
type(test)

pandas.core.frame.DataFrame

In [12]:
type(train)

pandas.core.frame.DataFrame

In [13]:
test.shape

(97320, 2)

In [35]:
train['text_len'] = train['comment_text'].apply(lambda x: len(x.split(' ')))
print(train['text_len'].describe())

count    1.804874e+06
mean     5.186124e+01
std      4.682154e+01
min      1.000000e+00
25%      1.700000e+01
50%      3.500000e+01
75%      7.300000e+01
max      8.410000e+02
Name: text_len, dtype: float64